.window {
  width: calc(100% - 100px);
  min-height: 500px;
  border-radius: 15px;
  background-color: #F5F5FA;
  padding: 30px 50px;
}

.preheader {
  font-size: 34px;
  margin-top: 40px;
}

li {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 300;
}

.name-surname {
  cursor: pointer;
  user-select: none;
  margin-top: 20px;
  width: calc(100% - 20px);
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #d2ebff;
  font-size: 28px;
}

.name-test {
  margin-top: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #d5ffd2;
  font-size: 24px;
}

.desc {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 40px;
}


.some-answer {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 25px;
}

.some-video {
  margin-left: 40px;
  margin-top: 20px;
}

video {
  border-radius: 20px;
}

.name-surname-text:hover {
  text-decoration: underline;
}
