<div class="area-page" style="margin-top: 60px" id="camera-controller">
  <div class="window-page">
    <div class="window" *ngIf="testObject!=null">

      <div class="header" style="display: flex;justify-content: center;width: 100%;">
        Тест: {{testObject.name}}
      </div>
      <div style="
      margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%">
        <app-camera startTest="{{'test/'+vacancyId+'/'+testId+'/page'}}"></app-camera>
      </div>
      <div style="
      margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%">
        <div style="margin-top: 20px;width: 300px">
          <app-button-accept text="Начать тест" (click)="startTest()"></app-button-accept>
        </div>
      </div>

    </div>
  </div>
</div>


<div id="container">

</div>
