<div class="area-page" style="margin-top: 60px">
  <div class="window-page">
    <div style="display: flex;justify-content: space-between;align-items: center">
      <div class="window-ill">
        <div class="island">
          <img
            src="https://static.vecteezy.com/system/resources/previews/000/199/302/original/island-topography-vector.jpg">
        </div>
        <div class="white text" style="margin-top: 20px" (click)="navigateToAuth()">Регистрация аккаунта</div>
      </div>

      <div class="text-block white">
        В PerformLab люди, которые активно и быстро ищут работу, обычно получают отклик в кратчайшие сроки. Это связано
        с тем, что PerformLab предоставляет широкий выбор вакансий и настраиваемые уведомления о новых предложениях
        работы.
      </div>

    </div>
    <div href="#" class="arrow-container" style="margin-top: 105px;margin-left: 200px;">
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
    </div>

    <div style="display: flex;justify-content: space-between;margin-top: -20px;align-items: center">
      <div class="window-ill">
        <div class="island">
          <img
            src="https://sun9-54.userapi.com/impf/c837437/v837437806/2036/vpJwmDa6HGs.jpg?size=604x453&quality=96&sign=23883b45007ae9bf06eca0def07b2281&type=album">
        </div>
        <div class="white text" (click)="navigateToAuth()">Просмотр вакансий</div>
      </div>


      <div href="#" class="arrow-container" style="margin-left: 10px; transform: rotateZ(-90deg)">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>

      <div class="window-ill">
        <div class="island">
          <img
            src="https://img.freepik.com/premium-vector/aerial-scene-of-boat-on-and-island_1639-2837.jpg?size=626&ext=jpg">
        </div>
        <div class="white text" (click)="navigateToAuth()">Отклик на вакансию</div>
      </div>
    </div>


    <div style="width: 100%;display: flex;justify-content: end;">
      <div href="#" class="arrow-container" style="margin-top: 105px;margin-right: 80px;">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>
    </div>


    <div style="display: flex;justify-content: space-between;margin-top: -20px;align-items: center">

      <div class="window-ill">
        <div class="island">
          <img
            src="https://kartin.papik.pro/uploads/posts/2023-06/1687832528_kartin-papik-pro-p-kartinki-detskaya-ostrov-v-more-17.jpg">
        </div>
        <div class="white text" (click)="navigateToAuth()">Приглашение на собеседование</div>
      </div>


      <div href="#" class="arrow-container" style="margin-left: -10px; transform: rotateZ(90deg)">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>

      <div class="window-ill">
        <div class="island">
          <img
            src="https://static.vecteezy.com/system/resources/previews/000/546/953/original/island-paradise-view-vector.jpg">
        </div>
        <div class="white text" style="margin-top: 35px" (click)="navigateToAuth()">Прохождение тестов</div>
      </div>
    </div>


    <div href="#" class="arrow-container" style="margin-top: 105px;margin-left: 200px;">
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
    </div>
    <div class="window-ill">
      <div class="island">
        <img
          src="https://img.freepik.com/premium-vector/aerial-scene-of-boat-on-and-island_1639-2837.jpg?size=626&ext=jpg">
      </div>
      <div class="white text" (click)="navigateToAuth()">Оффер</div>
    </div>

    <div style="margin-top: 40px"></div>
  </div>
</div>
